################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fund Syntaxis/.vs/FundamentalBasicsintaxis/FileContentIndex/a0512e8f-cf4d-4447-ba04-fb5cea37d0d8.vsidx
*.vsidx
